# Virtual environments
.venv/
env/
venv/
ENV/

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Local data & temporary files
data/
tmp/
temp/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints*/

# macOS & IDEs
.DS_Store
.AppleDouble
.LSOverride
.idea/
.vscode/
*.swp
*.swo

# CrunchDAO local credentials
.crunchdao/

# CrunchDAO Push Exclusions (Do not upload docs, tests, scripts, research or src to cloud runner)
docs/
tests/
scripts/
src/
README.md
.gitignore
